
@mixin sm {
  @media (max-width: 768px) {
    @content
  }
}

.navbarContainer {
  @include sm {
    margin: 10px;
    width: 90%;
  }
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  color: #1876D1;
  .today{
    display: flex;
    align-items: center;
    .logo{
      display: block;
      border-radius: 50%;
      padding-right: 10px;
    }
    .logoText{
      display: block;
      font-size: 24px;
      @include sm {
        display: none;
      }
    }
  }
}
