@mixin sm {
   @media (max-width: 768px) {
     @content
   }
 }

.container {
   @include sm {
      padding: 0;
      margin: 0;
      border-radius: inherit;
    }
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 20px;
   align-items: center;
   width: 100%;
   max-width: 840px;
   margin: 10vh auto;
   border-radius: 20px;
   min-height: 100vh;
   background-color: rgb(24, 118, 209);
   font-family: 'Roboto';
}